<h1>Flats#index</h1>
<ul>
  <% @flats.each do |flat| %>
    <li>
         <%= link_to flat.name, flat_path(flat) %>
        <%= link_to flat_path(flat), method: :delete, data: { confirm: "Are you sure?"} do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </li>
  <% end %>
</ul>
